.categoryFrm {
    padding: 1rem 2rem;
    margin: 10vh auto;
    width: 45vw;
    box-shadow: 1px 1px 5px #cccccc;
    padding: 1rem;
    background-color: var(--light);
}


.categoryFrm fieldset ul li {
    border:1px solid #ccc; background: #fff;
    margin-bottom: 10px;
    margin-top : 10px;
}