.categoryFrm {
    border : 1px solid var(--dark);
    padding: 1rem 2rem;
    margin: auto;
    background-color : var(--medium);
}


.categoryFrm fieldset ul li {
    border:1px solid #ccc; background: #fff;
    margin-bottom: 10px;
    margin-top : 10px;
}